.onfield{
    position: absolute;
    top: 10px;
    margin-left: 800px;
}
.feedtree{
    position: absolute;
    top: 10px;
    margin-left: 900px;
}
.gohome{
    position: absolute;
    top: 10px;
    margin-left: 1000px;
}
.farmboy{
    position: absolute;
    left: 34px;
    top: 20px;
    z-index: 3;
}

.stop{
    background-image: url(img/farmer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 80px;
    width: 80px;
}
.stopmove{
    background-image: url(img/farrmer_move.gif);
    background-repeat: no-repeat;

    background-size: 100% 100%;
    height: 80px;
    width: 80px;
}
.men{
    position: absolute;
    left: 34px;
    top: 40px;
    z-index: 3;
}
.lowerbodydiv{
    position: relative;

    left: -4px;
    top: -4px;
}
.leftfoot{
    left: 2px;
    position: absolute;  
}

.rightfoot{
    left: 19px;
    position: absolute;  
}
.farmtree{
    position: absolute;
    bottom: 30px;
    left: 16px;
}
.innerdiv{
    position: absolute;
    margin-top: 50px;
    margin-left: 600px;
}
.startwater{
    position: absolute;
    margin-top: 290px;
    margin-left: 80px;
}
.stopwater{
    position: absolute;
    margin-top: 290px;
    margin-left: 80px;
}
.plow{
    position: absolute;
    top: 125px;
    left: 900px;
}
.seed{
    position: absolute;
    top: 125px;
    left:960px;
}
.harvest{
    position: absolute;
    top: 125px;
    left: 1020px;
}
.up{
    position: absolute;
    top: 75px;
    left: 650px;
}
.left{
    position: absolute;
    top: 100px;
    left: 600px;
}
.right{
    position: absolute;
    top: 100px;
    left: 700px;
}
.down{
    position: absolute;
    top: 125px;
    left: 650px;
}
.imgwater{
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 16px;
}
