.v{
    position: absolute;
    margin-top: 0px;
    margin-left: 800px;
}
.i{
    position: absolute;
    margin-top: 0px;
    margin-left: 900px;
}
.c{
    position: absolute;
    margin-top: 0px;
    margin-left: 1000px;
}
.k{
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}
.y{
    position: absolute;
    margin-top: 450px;
    margin-left: 0px;
}
.s{
    position: absolute;
    margin-top: 50px;
    margin-left: 600px;
}
.w{
    position: absolute;
    margin-top: 400px;
    margin-left: 0px;
}
.x{
    position: absolute;
    margin-top: 430px;
    margin-left: 0px;
}
.a{
    position: absolute;
    margin-top: 300px;
    margin-left: 400px;
}
.b{
    position: absolute;
    margin-top: 230px;
    margin-left: 500px;
}
.d{
    position: absolute;
    margin-top: 360px;
    margin-left: 400px;
}
.m{
    position: absolute;
    margin-top: 0px;
    margin-left: 600px;
}
.n{
    position: absolute;
    margin-top: 5px;
    margin-left: 550px;
}
.o{
    position: absolute;
    margin-top: 10px;
    margin-left: 660px;
}
.p{
    position: absolute;
    margin-top: 25px;
    margin-left: 600px;
}

